body{
   color: white;
  background-color: black;
  
}
h1{
 
  text-align: center;
    font-family: 'RedkostComicRegular'; 
   font-weight: normal; 
   font-style: normal; 
}

table{
  position: fixed;
 margin-left: 45%;
 margin-bottom: 0%;
    bottom: 1300px;
    width: 15%;
   font-size: 70px;
  
}


.image{

 position: absolute;
 margin-left: 5%;
 margin-right:10%;
 margin-bottom: 10%;
    width: 65%;
}




